#board{
  background-color: palegreen;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
   height: 200px;
   width: 230px;
   justify-content: center;
}



body {
  display: flex;
  justify-content: center;
} 

